<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</div>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error</div>
    <br/>
    <label for="age">Enter age: </label>
    <input type="number" th:field="*{age}" id="age">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
    <br/>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>


<!--    <label>Roles:-->
<!--        <input type="checkbox" name="roles"-->
<!--               th:each="role : ${user.getRoles()}"-->
<!--               th:text="${role.name}"-->
<!--               th:value="${role.id}"-->
<!--               th:field="*{roles}"-->
<!--        />-->
<!--    </label>-->
    <input type="submit" value="Create!"/>
</form>
<br/>
<a href="/logout">Logout</a>
</body>
</html>